<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.0/math.min.js"></script> <!-- math.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> <!-- jquery.js -->
    <script src="../../../test.js"></script>
    <style>
      .img_block {
        left: 200px;
        position: absolute;
        text-align: center;
      }
      .nums {
        font-size: 30px;
        float: left;
        width: 50px;
        height: 45px;
        border: 3px solid red;
        background-color: yellow;
        -webkit-user-select:none;
  		-moz-user-select:none;
  		-ms-user-select:none;
  		user-select:none
      }
    </style>
  </head>
  <body>
    <button id="make_num">숫자 생성</button>
    <button id="make_oper">연산자 생성</button>
    <button id="calc">등호 생성</button>
    <p><a href="../">돌아가기</a></p>
  </body>
</html>
